<ion-view view-title="Profile">
  <ion-content>
	<div class="card">
		<div class="item item-text-wrap item-thumbnail-left">
			<img ng-src="{{ profile.picture }}" ng-if="profile.picture.indexOf('https://') !== -1" class="img-responsive" />
			<img ng-src="{{ ApiUrl }}/{{ profile.picture }}" ng-if="profile.picture.indexOf('https://') === -1" class="img-responsive" />
			<h2 class="list-fullname">{{profile.firstname}} {{profile.lastname}}</h2>
			<p>{{ profile.age }} years old</p>
			<p>{{ profile.gender }}</p>
		</div>
		<div class="item item-icon-left">
			<i class="icon ion-home"></i>
			{{ profile.origincountry }} - {{ profile.origincity }}
		</div>
		<div class="item item-icon-left">
			<i class="icon ion-plane"></i>
			{{ profile.destinationcountry }} - {{ profile.destinationcity }}
		</div>
    <!--<a href="#" class="item item-icon-left">
      <i class="icon ion-ios-compose-outline"></i>
      Write message
    </a>-->
	</div>
  </ion-content>
</ion-view>
