<ion-view view-title="Messages">
  <ion-content>
    <div>
      <div class="item item-button-right" align="center">
        Write message
        <button class="button button-positive">
          <i class="icon ion-ios-compose-outline"></i>
        </button>
      </div>
    </div>
    <div class="list">
      <a class="item item-avatar" href="#">
        <img src="victoria.jpg">
        <h2>Victoria</h2>
        <p>Andreas, ¿qué tal?.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="ruben.jpg">
        <h2>Rubén Emilio</h2>
        <p>Iubesc pe...</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="ben.jpg">
        <h2>Beniamin</h2>
        <p>Fifa 16</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="marc.jpg">
        <h2>Marc Titus</h2>
        <p>Pentruca suntem multi in familie</p>
      </a>
    </div>
  </ion-content>
</ion-view>
