<ion-view view-title="Messages">
  <ion-content>
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Write message..." ng-model="newMessage.message">
        </label>
        <button class="button button-small" ng-click="sendMessage()">
          Send
        </button>
      </div>
      <div ng-repeat="message in chats | orderBy : '-dateSent'"">
        <div class="item item-avatar item-text-wrap" href="#" ng-hide="message.mymessage">
          <!-- imagen -->
          <img ng-src="{{ ApiUrl }}/img/avatar-placeholder.png" ng-if="!message.pic" />
          <img ng-src="{{ ApiUrl }}/pictures/{{ message.pic }}" ng-if="message.pic!==undefined && message.pic.indexOf('https://') === -1 && message.pic" />
          <img ng-src="{{ message.pic }}" ng-if="message.pic!==undefined && message.pic.indexOf('https://') !== -1"/>
          <h2>{{message.name}}</h2>
          <p>{{message.message}}</p>
        </div>
      <div class="item item-avatar-right item-text-wrap" href="#" ng-hide="!message.mymessage">
        <!-- imagen -->
        <img ng-src="{{ ApiUrl }}/img/avatar-placeholder.png" ng-if="!message.pic" />
        <img ng-src="{{ ApiUrl }}/pictures/{{ message.pic }}" ng-if="message.pic!==undefined && message.pic.indexOf('https://') === -1 && message.pic" />
        <img ng-src="{{ message.pic }}" ng-if="message.pic!==undefined && message.pic.indexOf('https://') !== -1"/>
        <h2 class="text-right">Me</h2>
        <p class="text-right">{{message.message}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
